<DOCTYPE html>
<html ng-app="appGoogleMaps">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Google Maps</title>
    <link rel="shortcut icon" href="/lib/img/icon.png">
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-controller="ctrlGoogleMaps" class="ng-cloak">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Google Maps</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <select class="form-control select-combo" ng-model="estado" ng-change="getCidades(estado)" ng-disabled="select.estado.length < 1">
                <option value="-1">Selecione</option>
                <option ng-repeat="obj in select.estado" ng-value="obj.sigla">{{obj.descricao}}</option>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control select-combo" ng-model="cidade" ng-disabled="select.cidade.length < 1">
                <option value="-1">Todos</option>
                <option ng-repeat="obj in select.cidade" ng-value="obj.codigo">{{obj.descricao}}</option>
              </select>
            </div>
            <button type="button" ng-disabled="estado == -1" href="javascript:void(0)" ng-click="getPolygons(estado, cidade)" class="btn btn-success">Procurar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row-map">
      <div class="col-sm-12 col-map">
        <div id="map_canvas"></div>
      </div>
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Últimas informações</h4>
          </div>
          <div class="modal-body">
            Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.

            Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.

            Casamentiss faiz malandris se pirulitá, Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer Ispecialista im mé intende tudis nuam golada, vinho, uiski, carirí, rum da jamaikis, só num pode ser mijis. Adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="lib/js/jquery.min.js"></script>
  	<script src="lib/js/angular.min.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
	</body>
</html>