body {
	overflow: hidden;
}

.ng-cloak {
	display: none;
}

.select-combo {
	width: 200px !important;
}

.row-map {
	margin-top: 50px;
}

#map_canvas {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}